<a href="https://colab.research.google.com/github/jasmine400/nlp-/blob/main/cluster_users_ipynb_users.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#access google drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#access google drive
%cd /content/gdrive/My\ Drive/almojib_service
!ls

/content/gdrive/My Drive/almojib_service
almojib_svd.ipynb			log_mjb_tst.csv   test_only.ipynb
clusters.csv				movies.csv	  u.data
cluster_users.ipynb_users		ratings.csv	  u.item
data_almojib.json			search_log.ipynb  Untitled0.ipynb
define_clusters.ipynb			svd.ipynb	  u.user
export_dataframerecommendertst_alm.csv	tags.csv

In [ ]:
import pandas as pd

In [ ]:
cluster_df = pd.read_csv('export_dataframerecommendertst_alm.csv',lineterminator='\n')

In [ ]:
cluster_df.head()

   Unnamed: 0                                          user_info question_id\r
0           0                                {'id': 0, 'age': 0}    139053.0\r
1           1  {'country': {'id': 469}, 'role': 'user', 'gend...    121280.0\r
2           2  {'country': {'id': 469}, 'role': 'user', 'gend...            \r
3           3  {'country': {'id': 469}, 'role': 'user', 'gend...     12001.0\r
4           4  {'country': {'id': 469}, 'role': 'user', 'gend...     64259.0\r

In [ ]:
cluster_df = cluster_df[cluster_df['user_info'].notna()]

In [ ]:
Name_list = cluster_df['user_info'].tolist()
print(Name_list)

["{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123088, 'display_name': 'اكرم محسن ', 'age': 21}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123633, 'display_name': 'مصطفى حسين كاظم', 'age': 17}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 132287, 'display_name': 'احمد', 'age': 19}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 138418, 'display_name': 'أمير ', 'age': 21}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 152656, 'display_name': 'ام رقية ', 'age': 19}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127069, 'display_name': 'Almosawi', 'age': 23}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}", "{'country': {'id': 0}, 'role': 'user', 'id': 94830, 'display_name': 'Aa', 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143227, 'display_name': 'محسن نعمة داوود', 'age': 35}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 156529, 'display_name': 'محمد توفيق', 'age': 46}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 133987, 'display_name': 'Ali', 'age': 20}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 141508, 'display_name': 'نجاة ', 'age': 50}", "{'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}", "{'country': {'id': 0}, 'role': 'user', 'id': 136405, 'display_name': 'مدد', 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143080, 'display_name': 'Saif Mhnd', 'age': 17}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}", "{'id': 0, 'age': 0}", "{'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}", "{'id': 0, 'age': 0}", "{'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'female', 'id': 90812, 'display_name': 'خادمة الزهراء', 'age': 15}", "{'country': {'id': 0}, 'role': 'user', 'id': 87607, 'display_name': 'العابد', 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 0}, 'role': 'user', 'id': 173704, 'display_name': 'Aliraqi', 'age': 0}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 127787, 'display_name': 'huda jaafar', 'age': 31}", "{'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141706, 'display_name': 'عبد الرحمن ', 'age': 28}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 16558, 'display_name': 'فاطمية الهوى ', 'age': 25}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}", "{'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}", "{'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 139333, 'display_name': 'البسمة ', 'age': 36}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}", "{'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 122908, 'display_name': 'الزهراء', 'age': 22}", "{'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 56773, 'display_name': 'حہٰسہٰونيٰ الہٰرماحہٰيٰ', 'age': 21}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}", "{'id': 0, 'age': 0}", "{'id': 0, 'age': 0}", "{'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}", "{'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 131461, 'display_name': 'يا ابا الفضل', 'age': 21}"]

In [ ]:
new=[]
import ast
for i in Name_list:
  nn=ast.literal_eval(i)
  new.append(nn)
print(new)

[{'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123088, 'display_name': 'اكرم محسن ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123633, 'display_name': 'مصطفى حسين كاظم', 'age': 17}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 132287, 'display_name': 'احمد', 'age': 19}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 138418, 'display_name': 'أمير ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 152656, 'display_name': 'ام رقية ', 'age': 19}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127069, 'display_name': 'Almosawi', 'age': 23}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}, {'country': {'id': 0}, 'role': 'user', 'id': 94830, 'display_name': 'Aa', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143227, 'display_name': 'محسن نعمة داوود', 'age': 35}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 156529, 'display_name': 'محمد توفيق', 'age': 46}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 133987, 'display_name': 'Ali', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 141508, 'display_name': 'نجاة ', 'age': 50}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 136405, 'display_name': 'مدد', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143080, 'display_name': 'Saif Mhnd', 'age': 17}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'female', 'id': 90812, 'display_name': 'خادمة الزهراء', 'age': 15}, {'country': {'id': 0}, 'role': 'user', 'id': 87607, 'display_name': 'العابد', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 173704, 'display_name': 'Aliraqi', 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 127787, 'display_name': 'huda jaafar', 'age': 31}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141706, 'display_name': 'عبد الرحمن ', 'age': 28}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 16558, 'display_name': 'فاطمية الهوى ', 'age': 25}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}, {'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 139333, 'display_name': 'البسمة ', 'age': 36}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 122908, 'display_name': 'الزهراء', 'age': 22}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 56773, 'display_name': 'حہٰسہٰونيٰ الہٰرماحہٰيٰ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 131461, 'display_name': 'يا ابا الفضل', 'age': 21}]

In [ ]:
import json

In [ ]:
def convert_to_jsone(str_list):
  new_lst=[]
  for i in str_list:
    # print(type(i))
    i = i.replace("\'", "\"")
    res = json.loads(i)
    new_lst.append(res)

  return(new_lst)

In [ ]:
def list_of_nan_user_ids(first_lst):
  list_of_nan=[]
  key='id'
  for j in range(len(first_lst)):
    i=first_lst[j]
    if i['id']==0:
      # print(j)
      list_of_nan.append(j)

  return list_of_nan

In [ ]:
list_of_dics=convert_to_jsone(Name_list)
print(list_of_dics)
nan_user_ids=list_of_nan_user_ids(list_of_dics)

[{'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123088, 'display_name': 'اكرم محسن ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 123633, 'display_name': 'مصطفى حسين كاظم', 'age': 17}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 132287, 'display_name': 'احمد', 'age': 19}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 138418, 'display_name': 'أمير ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 152656, 'display_name': 'ام رقية ', 'age': 19}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127069, 'display_name': 'Almosawi', 'age': 23}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 118412, 'display_name': 'كَوثر', 'age': 16}, {'country': {'id': 0}, 'role': 'user', 'id': 94830, 'display_name': 'Aa', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143227, 'display_name': 'محسن نعمة داوود', 'age': 35}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 23004, 'display_name': 'حسين علي', 'age': 14}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 156529, 'display_name': 'محمد توفيق', 'age': 46}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 133987, 'display_name': 'Ali', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 141508, 'display_name': 'نجاة ', 'age': 50}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 136405, 'display_name': 'مدد', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 143080, 'display_name': 'Saif Mhnd', 'age': 17}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 91918, 'display_name': 'Hussain Rashid', 'age': 20}, {'id': 0, 'age': 0}, {'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'female', 'id': 90812, 'display_name': 'خادمة الزهراء', 'age': 15}, {'country': {'id': 0}, 'role': 'user', 'id': 87607, 'display_name': 'العابد', 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 173704, 'display_name': 'Aliraqi', 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 127787, 'display_name': 'huda jaafar', 'age': 31}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 0}, 'role': 'user', 'id': 148273, 'display_name': 'Mustafa Fadel', 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 127973, 'display_name': 'الصافي', 'age': 26}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141706, 'display_name': 'عبد الرحمن ', 'age': 28}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 16558, 'display_name': 'فاطمية الهوى ', 'age': 25}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 141341, 'display_name': 'ياصاحب الزمان', 'age': 20}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}, {'country': {'name': 'السعودية', 'id': 550}, 'role': 'user', 'gender': 'male', 'id': 122278, 'display_name': 'حسين الجبران ', 'age': 17}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 139333, 'display_name': 'البسمة ', 'age': 36}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 135126, 'display_name': 'علي سالم نزال', 'age': 15}, {'country': {'id': 0}, 'role': 'user', 'id': 142477, 'display_name': 'علي آلذهہبي', 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'female', 'id': 122908, 'display_name': 'الزهراء', 'age': 22}, {'country': {'id': 0}, 'role': 'user', 'id': 148240, 'display_name': 'محمد وال محمد', 'age': 0}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 56773, 'display_name': 'حہٰسہٰونيٰ الہٰرماحہٰيٰ', 'age': 21}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 85382, 'display_name': 'ابو علي', 'age': 50}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'id': 0, 'age': 0}, {'id': 0, 'age': 0}, {'country': {'name': 'العراق', 'id': 469}, 'role': 'user', 'gender': 'male', 'id': 58709, 'display_name': 'محمد حسن', 'age': 16}, {'country': {'id': 469}, 'role': 'user', 'gender': 'male', 'id': 131461, 'display_name': 'يا ابا الفضل', 'age': 21}]

In [ ]:
#drop rows with nan user ids
cluster_df.drop(cluster_df.index[nan_user_ids],inplace=True)

In [ ]:
def delete_multiple_element(list_object, indices):
    indices = sorted(indices, reverse=True)
    for idx in indices:
        # print(idx)
        if idx < len(list_object):
            # print(idx)
            list_object.pop(idx)
    return(list_object)

In [ ]:
remain_ids=delete_multiple_element(list_of_dics, nan_user_ids)
print(len(remain_ids))

53

In [ ]:
import numpy as np

In [ ]:
def list_of_genders(i):
  if 'gender' in i.keys():
     gender_t=i['gender']
     if gender_t=='male'   :
       gender=20
     elif  gender_t=='female':
       gender=30

     else:
      gender=np.nan
  else:
    gender=np.nan
  return(gender)

In [ ]:
def list_of_ages(i):
  if  'age' in i.keys():
    age=i['age']
    if (age>0 or age==0):
      age_cnt=age
    else:
      age_cnt=np.nan
  else:
    age_cnt=np.nan
  return(age_cnt)

In [ ]:
def list_of_countries(i):
  if 'country' in i.keys():
    country_id=i['country']['id']
    if (country_id>0 or country_id==0):
      cnt_id=country_id
    else:
      cnt_id=np.nan
  else:
    cnt_id=np.nan
  return(cnt_id)

In [ ]:
def list_of_user_ids(i):
  if 'id' in i.keys():
    user_id=i['id']
    if (user_id>0 or user_id==0):
      id=user_id
    else:
      id=np.nan
  else:
    id=np.nan
  return(id)

In [ ]:
user_ids=[]
country_ids=[]
ages=[]
genders=[]
for i in remain_ids:
  user_id=list_of_user_ids(i)
  user_ids.append(user_id)
  cnt_id=list_of_countries(i)
  country_ids.append(cnt_id)
  age_cnt=list_of_ages(i)
  ages.append(age_cnt)
  gender=list_of_genders(i)
  genders.append(gender)

In [ ]:
cluster_df['user_id'] = user_ids
cluster_df['age']= ages
cluster_df['gender']=genders
cluster_df['country_id']=country_ids

In [ ]:
df_info = cluster_df[['user_id', 'age','gender','country_id']]

In [ ]:
df_info.drop_duplicates(subset ='user_id',
                     keep = 'first', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df_info = df_info.set_index('user_id', drop=False)

In [ ]:
df_info.head()

         user_id  age  gender  country_id
user_id
123088    123088   21    20.0         469
85382      85382   50    20.0         469
123633    123633   17    20.0         469
132287    132287   19    20.0         469
23004      23004   14    20.0         469

In [ ]:
df_info=df_info.drop(['user_id'], axis = 1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
cols_to_norm = ['age','country_id','gender']
df_info[cols_to_norm] = MinMaxScaler().fit_transform(df_info[cols_to_norm])

In [ ]:
df_info=df_info.drop(['user_id'], axis = 1)

In [ ]:
df_info.head()

          age  gender  country_id
user_id
123088   0.42     0.0    0.852727
85382    1.00     0.0    0.852727
123633   0.34     0.0    0.852727
132287   0.38     0.0    0.852727
23004    0.28     0.0    0.852727

In [ ]:
df_info=df_info.fillna(0)

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
num_clusters = 10

In [ ]:
clustering_model = KMeans(n_clusters=num_clusters)
clustering_model.fit(df_info)
cluster_assignment = clustering_model.labels_
centers=clustering_model.cluster_centers_

In [ ]:
a=[]
clustered_sentences = [[] for i in range(num_clusters)]
for sentence_id, cluster_id in enumerate(cluster_assignment):
    clustered_sentences[cluster_id].append(sentence_id)
    a.append(cluster_id)

In [ ]:
print(cluster_assignment)

[7 3 1 7 1 4 7 7 1 7 4 7 2 8 3 7 6 2 2 2 1 9 4 2 2 5 0 5 0 1 2 8 4 7 7]

In [ ]:
df_info['clusters'] = a

In [ ]:
df_info.head()

          age  gender  country_id  clusters
user_id
123088   0.42     0.0    0.852727         7
85382    1.00     0.0    0.852727         3
123633   0.34     0.0    0.852727         1
132287   0.38     0.0    0.852727         7
23004    0.28     0.0    0.852727         1

In [ ]:
df_info=df_info.drop(['age','gender','country_id'], axis = 1)

In [ ]:
a=df_info.T.to_dict('index')

In [ ]:
print(a)

{'clusters': {123088: 7, 85382: 3, 123633: 1, 132287: 7, 23004: 1, 118412: 4, 141341: 7, 138418: 7, 135126: 1, 91918: 7, 152656: 4, 127069: 7, 94830: 2, 143227: 8, 156529: 3, 133987: 7, 141508: 6, 148273: 2, 136405: 2, 148240: 2, 143080: 1, 122278: 9, 90812: 4, 87607: 2, 173704: 2, 127973: 5, 127787: 0, 141706: 5, 16558: 0, 58709: 1, 142477: 2, 139333: 8, 122908: 4, 56773: 7, 131461: 7}}

In [ ]:
b=a['clusters']
for i in b:
  print(b[i])
  break

7

In [ ]:
kkk={0:{"user_info.id":0,'cluster':0}}

In [ ]:
for i in b:
  kk={i:{"user_info.id":i,'cluster':b[i]}}
  kkk.update(kk)

In [ ]:
print(kkk)

{0: {'user_info.id': 0, 'cluster': 0}, 123088: {'user_info.id': 123088, 'cluster': 7}, 85382: {'user_info.id': 85382, 'cluster': 3}, 123633: {'user_info.id': 123633, 'cluster': 1}, 132287: {'user_info.id': 132287, 'cluster': 7}, 23004: {'user_info.id': 23004, 'cluster': 1}, 118412: {'user_info.id': 118412, 'cluster': 4}, 141341: {'user_info.id': 141341, 'cluster': 7}, 138418: {'user_info.id': 138418, 'cluster': 7}, 135126: {'user_info.id': 135126, 'cluster': 1}, 91918: {'user_info.id': 91918, 'cluster': 7}, 152656: {'user_info.id': 152656, 'cluster': 4}, 127069: {'user_info.id': 127069, 'cluster': 7}, 94830: {'user_info.id': 94830, 'cluster': 2}, 143227: {'user_info.id': 143227, 'cluster': 8}, 156529: {'user_info.id': 156529, 'cluster': 3}, 133987: {'user_info.id': 133987, 'cluster': 7}, 141508: {'user_info.id': 141508, 'cluster': 6}, 148273: {'user_info.id': 148273, 'cluster': 2}, 136405: {'user_info.id': 136405, 'cluster': 2}, 148240: {'user_info.id': 148240, 'cluster': 2}, 143080: {'user_info.id': 143080, 'cluster': 1}, 122278: {'user_info.id': 122278, 'cluster': 9}, 90812: {'user_info.id': 90812, 'cluster': 4}, 87607: {'user_info.id': 87607, 'cluster': 2}, 173704: {'user_info.id': 173704, 'cluster': 2}, 127973: {'user_info.id': 127973, 'cluster': 5}, 127787: {'user_info.id': 127787, 'cluster': 0}, 141706: {'user_info.id': 141706, 'cluster': 5}, 16558: {'user_info.id': 16558, 'cluster': 0}, 58709: {'user_info.id': 58709, 'cluster': 1}, 142477: {'user_info.id': 142477, 'cluster': 2}, 139333: {'user_info.id': 139333, 'cluster': 8}, 122908: {'user_info.id': 122908, 'cluster': 4}, 56773: {'user_info.id': 56773, 'cluster': 7}, 131461: {'user_info.id': 131461, 'cluster': 7}}

In [ ]:
import json

In [ ]:
with open('user_info_cluster.json', 'w') as fp:
    json.dump(kkk, fp,  indent=4)