<a href="https://colab.research.google.com/github/jasmine400/nlp-/blob/main/svd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
import numpy as np

In [ ]:
#access google drive
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
#access google drive
%cd /content/gdrive/My\ Drive/almojib_service
!ls

/content/gdrive/My Drive/almojib_service
almojib_svd.ipynb			log_mjb_tst.csv   tags.csv
clusters.csv				movies.csv	  test_only.ipynb
cluster_users.ipynb_users		ratings.csv	  u.data
data_almojib.json			Ratings.csv	  u.item
define_clusters.ipynb			search_log.ipynb  Untitled0.ipynb
export_dataframerecommendertst_alm.csv	svd.ipynb	  u.user

In [ ]:
# creating a test data frame u should change it to all log
df1 = pd.read_csv("log_mjb_tst.csv")
print(len(df1))

1000

In [ ]:
df1.head()

,Unnamed: 0,similar_parent_id,app_version,category,device_info,institute,marja,page,position,question_id,...,category_filter,marja_filter,not_searched_terms,term,search_time,server_search_id,uncompleted_term,category_list,marja_list,term_list
0,0,0.0,1.2.8,الفقهية (إستفتائات),"{'os': {'name': 'android', 'version': '29'}, '...",برنامج فقه المصطفى ص,['السيد السيستاني'],institute_question,30.0,139053.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,1.2.1,القرآن الكريم,"{'os': {'name': 'android', 'version': '27'}, '...",مؤسسة المصطفى للإرشاد و التوعية الدينية,NaN,home_category,3.0,121280.0,...,['القرآن الكريم'],[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0.0,1.2.7,NaN,"{'os': {'name': 'android', 'version': '29'}, '...",NaN,['السيد السيستاني'],search,NaN,NaN,...,NaN,NaN,"['احكام الارث تلزوجة', 'احكام الارث زوجة المتو...",هل الزوجة ترث السكن من الزوج المتوفي,2021-04-27 04:36:24,367fb89204d632fbf48d2931c1825368,NaN,NaN,NaN,NaN
3,3,0.0,1.2.8,العقائدية,"{'os': {'name': 'android', 'version': '23'}, '...",مركز الابحاث العقائدية,NaN,search_click_suggestion,1.0,12001.0,...,[],[],['العس'],حديث العشرة المبشرة بالجنة,NaN,08f65c904632d67129ee9ac7e0a965fd,العشرة ال,NaN,NaN,NaN
4,4,0.0,1.2.8,الفقهية (إستفتائات),"{'os': {'name': 'android', 'version': '29'}, '...",مؤسسة المصطفى للإرشاد,['السيد السيستاني'],search,13.0,64259.0,...,[],[],['اكتئاب '],اكتئاب,NaN,866f50b62967246cddff22495634734b,NaN,NaN,NaN,NaN

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1000 non-null   int64
 1   similar_parent_id   846 non-null    float64
 2   app_version         898 non-null    object
 3   category            745 non-null    object
 4   device_info         898 non-null    object
 5   institute           663 non-null    object
 6   marja               631 non-null    object
 7   page                999 non-null    object
 8   position            736 non-null    float64
 9   question_id         745 non-null    float64
 10  reference           999 non-null    object
 11  time                903 non-null    object
 12  subject             422 non-null    object
 13  tag                 747 non-null    object
 14  after_search        782 non-null    float64
 15  user_info           812 non-null    object
 16  user_session_id     891 non-null    object
 17  server_time         1000 non-null   object
 18  category_filter     395 non-null    object
 19  marja_filter        392 non-null    object
 20  not_searched_terms  615 non-null    object
 21  term                521 non-null    object
 22  search_time         265 non-null    object
 23  server_search_id    520 non-null    object
 24  uncompleted_term    167 non-null    object
 25  category_list       1 non-null      object
 26  marja_list          1 non-null      object
 27  term_list           1 non-null      object
dtypes: float64(4), int64(1), object(23)
memory usage: 218.9+ KB

In [ ]:
#load dataframe of clusters
df2 = pd.read_csv("clusters.csv")
print(len(df2))

80816

In [ ]:
#count of clusters
cls = df2["clusters"].tolist()
cls=list(set(cls))
print(cls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [ ]:
df2.rename(columns={'q_id': 'question_id'}, inplace=True)

In [ ]:
#remove nan rows
df1 = df1[df1['user_info'].notna()]
df1 = df1[df1['question_id'].notna()]
print(len(df1))

692

In [ ]:
#merge 2 dataframes clusters and questions and user info
df = pd.merge(df2, df1, on ='question_id')
print(len(df))

641

In [ ]:
Name_list = df['user_info'].tolist()
print(Name_list)

["{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'Mustafa Fadel', 'id': 148273, 'role': 'user'}", "{'age': 47, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'ابو محمد', 'gender': 'male', 'id': 124005, 'role': 'user'}", "{'age': 28, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'أبہو مہحہمہد', 'gender': 'male', 'id': 38667, 'role': 'user'}", "{'age': 21, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'bbbvv', 'gender': 'male', 'id': 74210, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'Hussain Rashid', 'gender': 'male', 'id': 91918, 'role': 'user'}", "{'age': 15, 'id': 130161, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'كرار', 'role': 'user'}", "{'age': 27, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'ام محمد', 'gender': 'female', 'id': 34299, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'بالزهراء وجودي', 'id': 133649, 'role': 'user'}", "{'age': 19, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'حب علي جنة قسيم النار و الجنة ', 'gender': 'female', 'id': 129482, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'فاطمية الهوى ', 'gender': 'female', 'id': 16558, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 50, 'country': {'id': 469}, 'display_name': 'ابو علي', 'gender': 'male', 'id': 85382, 'role': 'user'}", "{'age': 15, 'id': 130161, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'كرار', 'role': 'user'}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'Zoshi H', 'gender': 'female', 'id': 141289, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'Duha M.r', 'gender': 'female', 'id': 134003, 'role': 'user'}", "{'age': 27, 'id': 173161, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'Muntadher Raad', 'role': 'user'}", "{'age': 22, 'country': {'id': 469}, 'display_name': 'Yasmin HA', 'gender': 'female', 'id': 144181, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 44, 'country': {'id': 469}, 'display_name': 'مرتضى حميد سلمان ', 'gender': 'male', 'id': 142942, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'حسن', 'gender': 'male', 'id': 140954, 'role': 'user'}", "{'age': 16, 'id': 86290, 'gender': 'female', 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'Apple', 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'ياصاحب الزمان', 'gender': 'male', 'id': 141341, 'role': 'user'}", "{'age': 26, 'country': {'id': 469}, 'display_name': 'عاشقة الموعود ٣١٣', 'gender': 'female', 'id': 48712, 'role': 'user'}", "{'age': 14, 'country': {'id': 469}, 'display_name': 'mohamed', 'gender': 'male', 'id': 164875, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'عطرالجنه عطرالجنه', 'id': 141667, 'role': 'user'}", "{'age': 9, 'id': 46, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'يا ابا صالح المهدي', 'role': 'admin'}", "{'age': 9, 'id': 46, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'يا ابا صالح المهدي', 'role': 'admin'}", "{'age': 21, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'bbbvv', 'gender': 'male', 'id': 74210, 'role': 'user'}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'نور ميثم صافي', 'gender': 'female', 'id': 141284, 'role': 'user'}", "{'age': 21, 'country': {'id': 550}, 'display_name': 'مجهول ', 'gender': 'male', 'id': 50596, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 15, 'id': 130161, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'كرار', 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'Zoshi H', 'gender': 'female', 'id': 141289, 'role': 'user'}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'Salam', 'gender': 'male', 'id': 124570, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'القمر', 'gender': 'female', 'id': 116892, 'role': 'user'}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'حسين رعد موير', 'gender': 'male', 'id': 133278, 'role': 'user'}", "{'age': 17, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'تمار ميثم', 'gender': 'male', 'id': 83326, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 19, 'country': {'id': 469}, 'display_name': 'احمد', 'gender': 'male', 'id': 132287, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'مرتضئ حسن', 'gender': 'male', 'id': 124309, 'role': 'user'}", "{'age': 0, 'country': {'id': 550, 'name': 'السعودية'}, 'id': 89647, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'ياصاحب الزمان', 'gender': 'male', 'id': 141341, 'role': 'user'}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'مريم الكربلائيه ', 'gender': 'female', 'id': 78558, 'role': 'user'}", "{'age': 17, 'country': {'id': 527, 'name': 'عمان'}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 86708, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'Hussain AL Juboury', 'id': 76107, 'role': 'user'}", "{'age': 27, 'country': {'id': 469}, 'display_name': 'خطواتي زينبية ', 'gender': 'female', 'id': 145678, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 22, 'country': {'id': 469}, 'display_name': 'الزهراء', 'gender': 'female', 'id': 122908, 'role': 'user'}", "{'age': 75, 'id': 139598, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'فالح الحداد', 'role': 'user'}", "{'age': 30, 'id': 137340, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'سجاد علي الفاخر', 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'علي الميالي', 'gender': 'female', 'id': 70394, 'role': 'user'}", "{'age': 27, 'id': 173161, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'Muntadher Raad', 'role': 'user'}", "{'age': 14, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'حسين علي', 'gender': 'male', 'id': 23004, 'role': 'user'}", "{'age': 22, 'country': {'id': 475}, 'display_name': 'عبدالله محمد عبدالله ', 'gender': 'male', 'id': 50623, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 41, 'country': {'id': 469}, 'display_name': 'AliAli ', 'gender': 'female', 'id': 138516, 'role': 'user'}", "{'age': 30, 'id': 137340, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'سجاد علي الفاخر', 'role': 'user'}", "{'age': 16, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'محمد حسن', 'gender': 'male', 'id': 58709, 'role': 'user'}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'علي البصراوي', 'gender': 'male', 'id': 134745, 'role': 'user'}", "{'age': 19, 'country': {'id': 469}, 'display_name': 'زينب ', 'gender': 'female', 'id': 148231, 'role': 'user'}", "{'age': 22, 'country': {'id': 469}, 'display_name': 'حسين ', 'gender': 'male', 'id': 133285, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'حسين ', 'gender': 'male', 'id': 144247, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'مولاتي رقيه', 'id': 82394, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'حسن', 'gender': 'male', 'id': 140954, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'م. علي الجيزاني', 'gender': 'male', 'id': 140514, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 14, 'country': {'id': 469}, 'display_name': 'mohamed', 'gender': 'male', 'id': 164875, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'Zoshi H', 'gender': 'female', 'id': 141289, 'role': 'user'}", "{'age': 22, 'country': {'id': 469}, 'display_name': 'uo.ti6', 'gender': 'female', 'id': 68056, 'role': 'user'}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'Ameer', 'gender': 'female', 'id': 122906, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 57, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'Sadeq Alabadi', 'gender': 'male', 'id': 19038, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'حسين', 'id': 144220, 'role': 'user'}", "{'age': 44, 'country': {'id': 469}, 'display_name': 'وليد الكعبه', 'gender': 'male', 'id': 11524, 'role': 'user'}", "{'age': 32, 'country': {'id': 469}, 'display_name': 'laheb albaha', 'gender': 'male', 'id': 142393, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 19, 'country': {'id': 469}, 'display_name': 'زينب ', 'gender': 'female', 'id': 148231, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'Hussain Rashid', 'gender': 'male', 'id': 91918, 'role': 'user'}", "{'age': 16, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'Abbas Ahmed', 'gender': 'male', 'id': 12393, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 33, 'id': 78147, 'gender': 'female', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'Naarjs Beeboo', 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'Fhjkk', 'gender': 'female', 'id': 82496, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'Hussain Rashid', 'gender': 'male', 'id': 91918, 'role': 'user'}", "{'age': 26, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'الصافي', 'gender': 'male', 'id': 127973, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'خليل سلطان', 'id': 137962, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'role': 'user', 'country': {'id': 469}, 'display_name': 'Mahdi', 'gender': 'male', 'id': 128527, 'age': 52}", "{'age': 17, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'تمار ميثم', 'gender': 'male', 'id': 83326, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'حسين ', 'gender': 'male', 'id': 144247, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'د', 'id': 139641, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'saif salah', 'gender': 'male', 'id': 126104, 'role': 'user'}", "{'age': 26, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'الصافي', 'gender': 'male', 'id': 127973, 'role': 'user'}", "{'age': 16, 'country': {'id': 469}, 'display_name': 'احمد', 'gender': 'male', 'id': 140513, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'أسعد الجنابي', 'gender': 'male', 'id': 136175, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 50, 'country': {'id': 469}, 'display_name': 'ابو علي', 'gender': 'male', 'id': 85382, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'Mustafa Fadel', 'id': 148273, 'role': 'user'}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'نور ميثم صافي', 'gender': 'female', 'id': 141284, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'حسن', 'gender': 'male', 'id': 140954, 'role': 'user'}", "{'age': 19, 'country': {'id': 569, 'name': 'رومانيا'}, 'display_name': 'علي ', 'gender': 'male', 'id': 159172, 'role': 'user'}", "{'age': 17, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'تمار ميثم', 'gender': 'male', 'id': 83326, 'role': 'user'}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'باسمك افتخر يا علي', 'gender': 'female', 'id': 124011, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 22, 'country': {'id': 469}, 'display_name': 'حسين ', 'gender': 'male', 'id': 133285, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 27, 'country': {'id': 469}, 'display_name': 'روان فؤاد نجم', 'gender': 'female', 'id': 143230, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 27, 'id': 123987, 'gender': 'male', 'country': {'id': 550, 'name': 'السعودية', 'code': '+966'}, 'display_name': 'ح.ن', 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 24, 'country': {'id': 469}, 'display_name': 'مريم', 'gender': 'female', 'id': 93741, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 26, 'country': {'id': 469}, 'display_name': 'ميلاد ابراهيم', 'gender': 'female', 'id': 173902, 'role': 'user'}", "{'age': 43, 'id': 48451, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'سجادعبدالصمد مجيد', 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 31, 'id': 139677, 'gender': 'female', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'M karim', 'role': 'user'}", "{'age': 50, 'country': {'id': 469}, 'display_name': 'ابو علي', 'gender': 'male', 'id': 85382, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 30, 'id': 137340, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'سجاد علي الفاخر', 'role': 'user'}", "{'age': 30, 'id': 137340, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'سجاد علي الفاخر', 'role': 'user'}", "{'age': 0, 'country': {'id': 469}, 'display_name': 'حيدر البصري', 'gender': 'male', 'id': 37186, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 21, 'country': {'id': 469}, 'display_name': 'almuswi', 'gender': 'male', 'id': 139462, 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'م م م م م م م ', 'gender': 'female', 'id': 49636, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 0, 'id': 0}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 31, 'country': {'id': 469}, 'display_name': 'huda jaafar', 'gender': 'female', 'id': 127787, 'role': 'user'}", "{'age': 21, 'country': {'id': 469}, 'display_name': 'Fatima Hayder', 'gender': 'female', 'id': 126655, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'حسن', 'gender': 'male', 'id': 140954, 'role': 'user'}", "{'id': 0, 'age': 0}", "{'age': 55, 'country': {'id': 469}, 'display_name': 'علي جهاد رمضان', 'gender': 'male', 'id': 83076, 'role': 'user'}", "{'age': 27, 'country': {'id': 469}, 'display_name': 'Ali Ali', 'gender': 'female', 'id': 29639, 'role': 'user'}", "{'age': 31, 'id': 139677, 'gender': 'female', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'M karim', 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 31, 'id': 139677, 'gender': 'female', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'M karim', 'role': 'user'}", "{'age': 28, 'id': 43560, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'Ali Sagheer Ghalib', 'role': 'user'}", "{'age': 20, 'country': {'id': 469}, 'display_name': 'فاطمة', 'gender': 'female', 'id': 110888, 'role': 'user'}", "{'age': 28, 'id': 88051, 'gender': 'male', 'country': {'id': 585, 'name': 'الإمارات'}, 'display_name': 'العامر', 'role': 'user'}", "{'age': 15, 'country': {'id': 469}, 'display_name': 'علي سالم نزال', 'gender': 'male', 'id': 135126, 'role': 'user'}", "{'age': 19, 'country': {'id': 550}, 'display_name': '...... ', 'gender': 'male', 'id': 138464, 'role': 'user'}", "{'age': 50, 'country': {'id': 469}, 'display_name': 'ابو علي', 'gender': 'male', 'id': 85382, 'role': 'user'}", "{'age': 26, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'الصافي', 'gender': 'male', 'id': 127973, 'role': 'user'}", "{'age': 26, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'الصافي', 'gender': 'male', 'id': 127973, 'role': 'user'}", "{'age': 41, 'country': {'id': 469}, 'display_name': 'AliAli ', 'gender': 'female', 'id': 138516, 'role': 'user'}", "{'age': 25, 'country': {'id': 469}, 'display_name': 'جنة المأوى ', 'gender': 'female', 'id': 126595, 'role': 'user'}", "{'age': 19, 'country': {'id': 469}, 'display_name': 'احمد', 'gender': 'male', 'id': 132287, 'role': 'user'}", "{'age': 15, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'خادمة الزهراء', 'gender': 'female', 'id': 90812, 'role': 'user'}", "{'age': 19, 'country': {'id': 469}, 'display_name': 'Almujtaba ', 'gender': 'male', 'id': 89871, 'role': 'user'}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'سوسن باسم ', 'gender': 'female', 'id': 140879, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'العابد', 'id': 87607, 'role': 'user'}", "{'age': 26, 'country': {'id': 469}, 'display_name': 'الدفاعي', 'gender': 'male', 'id': 126181, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'سوسن باسم ', 'gender': 'female', 'id': 140879, 'role': 'user'}", "{'age': 16, 'country': {'id': 469}, 'display_name': 'الوردة السوداء', 'gender': 'female', 'id': 153616, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 17, 'country': {'id': 469}, 'display_name': 'Zoshi H', 'gender': 'female', 'id': 141289, 'role': 'user'}", "{'age': 12, 'country': {'id': 469}, 'display_name': 'Zainab', 'gender': 'female', 'id': 136500, 'role': 'user'}", "{'age': 27, 'id': 122846, 'gender': 'male', 'country': {'id': 469, 'name': 'العراق', 'code': '+964'}, 'display_name': 'Ali Blaik', 'role': 'user'}", "{'age': 14, 'country': {'id': 469}, 'display_name': 'Mustafa ', 'gender': 'male', 'id': 144574, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 16, 'country': {'id': 469}, 'display_name': 'AL-Jabri', 'gender': 'male', 'id': 157951, 'role': 'user'}", "{'age': 0, 'country': {'id': 0}, 'display_name': 'جديد موقت', 'id': 148255, 'role': 'user'}", "{'age': 18, 'country': {'id': 469}, 'display_name': 'Ameer', 'gender': 'female', 'id': 122906, 'role': 'user'}", "{'age': 41, 'country': {'id': 469}, 'display_name': 'ام محمد النجفية', 'gender': 'female', 'id': 126441, 'role': 'user'}", "{'age': 26, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'محمد كريم ', 'gender': 'male', 'id': 37144, 'role': 'user'}", "{'age': 19, 'country': {'id': 569, 'name': 'رومانيا'}, 'display_name': 'علي ', 'gender': 'male', 'id': 159172, 'role': 'user'}", "{'age': 0, 'id': 0}", "{'age': 46, 'country': {'id': 469, 'name': 'العراق'}, 'display_name': 'فاطمة الزهراء', 'gender': 'female', 'id': 83098, 'role': 'user'}", "{'age': 0, 'country': {'id': 469}, 'display_name': 'علي محرب فجة الخزعلي', 'gender': 'male', 'id': 50214, 'role': 'user'}", "{'age': 50, 'country': {'id': 469}, 'display_name': 'ابو علي', 'gender': 'male', 'id': 85382, 'role': '

In [ ]:
def convert_to_jsone(str_list):
  new_lst=[]
  for i in str_list:
    # print(type(i))
    i = i.replace("\'", "\"")
    res = json.loads(i)
    new_lst.append(res)

  return(new_lst)

In [ ]:
def list_of_nan_user_ids(first_lst):
  list_of_nan=[]
  key='id'
  for j in range(len(first_lst)):
    i=first_lst[j]
    if i['id']==0:
      # print(j)
      list_of_nan.append(j)

  return list_of_nan

In [ ]:
list_of_dics=convert_to_jsone(Name_list)
nan_user_ids=list_of_nan_user_ids(list_of_dics)

In [ ]:
#drop rows with nan user ids
df.drop(df.index[nan_user_ids],inplace=True)

In [ ]:
len(df)

443

In [ ]:
def delete_multiple_element(list_object, indices):
    indices = sorted(indices, reverse=True)
    for idx in indices:
        # print(idx)
        if idx < len(list_object):
            # print(idx)
            list_object.pop(idx)
    return(list_object)

In [ ]:
remain_ids=delete_multiple_element(list_of_dics, nan_user_ids)
print(len(remain_ids))

443

In [ ]:
def list_of_genders(i):
  if 'gender' in i.keys():
     gender_t=i['gender']
     if gender_t=='male'   :
       gender=20
     elif  gender_t=='female':
       gender=30

     else:
      gender=np.nan
  else:
    gender=np.nan
  return(gender)

In [ ]:
def list_of_ages(i):
  if  'age' in i.keys():
    age=i['age']
    if (age>0 or age==0):
      age_cnt=age
    else:
      age_cnt=np.nan
  else:
    age_cnt=np.nan
  return(age_cnt)

In [ ]:
def list_of_countries(i):
  if 'country' in i.keys():
    country_id=i['country']['id']
    if (country_id>0 or country_id==0):
      cnt_id=country_id
    else:
      cnt_id=np.nan
  else:
    cnt_id=np.nan
  return(cnt_id)

In [ ]:
def list_of_user_ids(i):
  if 'id' in i.keys():
    user_id=i['id']
    if (user_id>0 or user_id==0):
      id=user_id
    else:
      id=np.nan
  else:
    id=np.nan
  return(id)

In [ ]:
user_ids=[]
country_ids=[]
ages=[]
genders=[]
for i in remain_ids:
  user_id=list_of_user_ids(i)
  user_ids.append(user_id)
  cnt_id=list_of_countries(i)
  country_ids.append(cnt_id)
  age_cnt=list_of_ages(i)
  ages.append(age_cnt)
  gender=list_of_genders(i)
  genders.append(gender)

In [ ]:
#اگر تابع درست عمل کنه این نیازی نیس
for index, item in enumerate(genders):
  if (item=='female'):
    genders[index] = 1
  elif (item=='male') :
   genders[index] = 0

In [ ]:
#tessst
f = pd.DataFrame()

In [ ]:
df['user_id'] = user_ids
df['age']= ages
df['gender']=genders
df['country_id']=country_ids

In [ ]:
df_info = df[['user_id', 'age','gender','country_id']]

In [ ]:
df_info.drop_duplicates(subset ='user_id',
                     keep = 'first', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:

from sklearn.preprocessing import MinMaxScaler
import numpy as np


# apply normalization techniques
columns = ['country_id']
for column in columns:
  df_info[column] = MinMaxScaler().fit_transform(np.array(df_info[column]).reshape(-1,1))




# view normalized data
display(df_info)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

     user_id  age  gender  country_id
0     110888   20    30.0    0.801709
1     148273    0     NaN    0.000000
2     124005   47    20.0    0.801709
3      38667   28    20.0    0.801709
4      74210   21    20.0    0.801709
..       ...  ...     ...         ...
615    94830    0     NaN    0.000000
626   123633   17    20.0    0.801709
632    15636   47    30.0    0.801709
635    75194    0     NaN    0.000000
639    68846   22    30.0    0.801709

[225 rows x 4 columns]

In [ ]:
df_info=df_info.fillna(0)

In [ ]:
print(len(df_info))

225

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(df_info)
np.fill_diagonal(b, 0 )
similarity_with_user_info = pd.DataFrame(b,index=df_info['user_id'])
similarity_with_user_info.columns=df_info['user_id']
similarity_with_user_info.head()

user_id,110888,148273,124005,38667,74210,91918,130161,34299,133649,129482,...,130340,133987,36549,86649,21724,94830,123633,15636,75194,68846
user_id,,,,,,,,,,,,,,,,,,,,,
110888,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.0,0.999997,1.0,1.0,0.999995,1.0,1.0
148273,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.999999,1.0,1.0,...,1.0,1.0,0.999999,1.0,0.999996,1.0,1.0,0.999994,1.0,1.0
124005,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.0,0.999997,1.0,1.0,0.999995,1.0,1.0
38667,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.0,0.999998,1.0,1.0,0.999996,1.0,1.0
74210,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.000000,1.0,1.0,...,1.0,1.0,1.000000,1.0,0.999997,1.0,1.0,0.999995,1.0,1.0

In [ ]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index,
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [ ]:
input_id=110888
target_uer=similarity_with_user_info. loc[[input_id]]
sim_user_30_u=find_n_neighbours(target_uer,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
user_id,,,,,,,,,,,,,,,,,,,,,
110888,122908,123029,124011,123616,126655,116892,126595,83326,87239,130826,...,90812,140842,88936,91918,138476,145678,140915,144658,144181,144538

In [ ]:
df_list = sim_user_30_u.values.tolist()
print(df_list)
flat_list = [item for sublist in df_list for item in sublist]
flat_list.append(input_id)
print(len(flat_list))

[[122908, 123029, 124011, 123616, 126655, 116892, 126595, 83326, 87239, 130826, 122906, 131565, 118412, 129482, 134003, 89871, 141284, 94712, 123447, 143230, 90812, 140842, 88936, 91918, 138476, 145678, 140915, 144658, 144181, 144538]]
31

In [ ]:
#no need
user_idss = df["user_id"].tolist()
user_idss=list(set(user_idss))
print(len(user_idss))

225

In [ ]:
gk = df.groupby('user_id')
print(len(gk))

225

In [ ]:
def calculate_frequency(list_of_clusters,user_time):
  last2=len(user_time)-1
  last = user_time[last2]
  frequency = {}
  for item in range(len(list_of_clusters)):
   # checking the element in dictionary
   if user_time[item] == last:

    if list_of_clusters[item] in frequency:
        # incrementing the counr
        frequency[list_of_clusters[item]] += 1.6
    else:
        # initializing the count
        frequency[list_of_clusters[item]] = 1.6
   else:
     if list_of_clusters[item] in frequency:
        # incrementing the counr
        frequency[list_of_clusters[item]] += 1
     else:
        # initializing the count
        frequency[list_of_clusters[item]] = 1

  return(frequency)

In [ ]:
def correct_time_format(user_time):
  for i in range(len(user_time)):
    # print(type(user_time[i]))
    if user_time[i]!= 0:
      before=user_time[i].split()
      user_time[i]=before[0]
  return (user_time)

In [ ]:
list_of_dfs=[]
for i in flat_list:
  user_search=gk.get_group(i)
  user_search = user_search.sort_values(by="time")
  user_search=user_search.fillna(0)
  user_time = user_search["time"].tolist()
  user_time = correct_time_format(user_time)
  user_topics = user_search["clusters"].tolist()

  frequencies=calculate_frequency(user_topics,user_time)
  rate = pd.DataFrame(list(frequencies.items()),columns = ['clusters', 'freq'])
  full= pd.merge(rate, user_search, on ='clusters')
  list_of_dfs.append(full)
combined = pd.concat(list_of_dfs)

In [ ]:
print(len(combined))

70

In [ ]:
combined1=combined[['clusters', 'freq','user_id','age','gender','country_id']]

In [ ]:

combined2=combined1.drop_duplicates(
                     keep = 'first')

In [ ]:
Ratings=combined2[['user_id', 'clusters','freq']]

In [ ]:
Ratings.head()
from google.colab import files
Ratings.to_csv('Ratings.csv', encoding = 'utf-8-sig')
files.download('Ratings.csv')

In [ ]:
pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633831 sha256=32a9fb90727f2f1da7562399f87055fc6ba2be994b5d5d9024caf8e666870a1a
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
#importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from surprise import Reader, Dataset, KNNBasic
from surprise.model_selection import cross_validate
from surprise import SVD

In [ ]:
reader = Reader()
data = Dataset.load_from_df(Ratings, reader)

In [ ]:
#Define the SVD algorithm object
svd = SVD()
#Evaluate the performance in terms of RMSE
cross_validate(svd, data, measures=['RMSE'], cv = 3)

{'fit_time': (0.014781951904296875,
  0.006743669509887695,
  0.013055086135864258),
 'test_rmse': array([0.40718149, 0.24554521, 0.12331974]),
 'test_time': (0.0003790855407714844,
  0.0003688335418701172,
  0.0003426074981689453)}

In [ ]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
a=svd.predict(110888, 90	).est
print(a)

1.5721210235676772

In [ ]:
TSTT=Ratings[Ratings['user_id'] == 26625]

In [ ]:
print(len(Ratings))

430

In [ ]:
TSTT.head()

   user_id  clusters  freq
0    26625        75     1
1    26625       102     1

In [ ]:
df_svd_estimates = pd.DataFrame()
for i in flat_list:

  TSTT=Ratings[Ratings['user_id'] == i]
  for j in range(200):
    if j not in TSTT['clusters']:
      a=(svd.predict(i, j).est)-0.5
      b={'user_id':i,'clusters':j,'freq':a}
      TSTT=TSTT.append(b,ignore_index=True)
  df_svd_estimates=df_svd_estimates.append(TSTT)

In [ ]:
print(len(df_svd_estimates))

6200

In [ ]:
df_svd_estimates.head()

    user_id  clusters      freq
0  122908.0     159.0  1.600000
1  122908.0       1.0  1.090521
2  122908.0       2.0  1.005689
3  122908.0       3.0  1.090521
4  122908.0       4.0  1.238965

In [ ]:
final = pd.pivot_table(df_svd_estimates,values='freq',index='user_id',columns='clusters')

In [ ]:
final_user.head()

clusters,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,190.0,191.0,192.0,193.0,194.0,195.0,196.0,197.0,198.0,199.0
user_id,,,,,,,,,,,,,,,,,,,,,
83326.0,1.097700,1.097700,1.093309,1.079774,1.151298,1.093309,1.093309,1.087719,1.093309,1.093309,...,1.225174,1.093309,1.047279,1.093309,1.093309,1.093309,1.093309,1.093309,1.093309,1.093309
87239.0,1.086488,1.037160,1.086488,1.373914,0.915610,1.086488,1.086488,1.111238,1.086488,1.086488,...,1.022969,1.086488,1.016449,1.086488,1.086488,1.086488,1.086488,1.086488,1.086488,1.086488
88936.0,1.089900,1.188172,1.089900,1.139381,1.171270,1.089900,1.089900,1.185999,1.089900,1.089900,...,1.326140,1.089900,1.094689,1.089900,1.089900,1.089900,1.089900,1.089900,1.089900,1.089900
89871.0,1.094298,1.086215,1.086301,1.137208,1.152190,1.086301,1.086301,1.102680,1.086301,1.086301,...,1.035257,1.086301,0.996001,1.086301,1.086301,1.086301,1.086301,1.086301,1.086301,1.086301
90812.0,1.094411,0.948496,1.094411,1.213357,1.212754,1.094411,1.094411,1.158728,1.094411,1.094411,...,0.994276,1.094411,1.313268,1.094411,1.094411,1.094411,1.094411,1.094411,1.094411,1.094411

In [ ]:
# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [ ]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user_topic = pd.DataFrame(b,index=final_user.index)
similarity_with_user_topic.columns=final_user.index
similarity_with_user_topic.head()

user_id,83326.0,87239.0,88936.0,89871.0,90812.0,91918.0,94712.0,110888.0,116892.0,118412.0,...,134003.0,138476.0,140842.0,140915.0,141284.0,143230.0,144181.0,144538.0,144658.0,145678.0
user_id,,,,,,,,,,,,,,,,,,,,,
83326.0,0.000000,0.997684,0.997404,0.996766,0.996856,0.996020,0.997367,0.993505,0.997614,0.996204,...,0.997556,0.998110,0.996878,0.997027,0.997075,0.997442,0.997962,0.996495,0.996835,0.997656
87239.0,0.997684,0.000000,0.997560,0.997440,0.997643,0.995827,0.997968,0.993706,0.997260,0.997469,...,0.997133,0.998076,0.996405,0.997779,0.997564,0.997188,0.998186,0.997307,0.997383,0.997252
88936.0,0.997404,0.997560,0.000000,0.996845,0.996371,0.995143,0.997486,0.993239,0.996361,0.995855,...,0.997110,0.997563,0.997213,0.997643,0.996322,0.996938,0.997737,0.997176,0.997018,0.997355
89871.0,0.996766,0.997440,0.996845,0.000000,0.997305,0.996106,0.996971,0.994597,0.997708,0.996709,...,0.996450,0.997945,0.996685,0.997588,0.997705,0.996840,0.998056,0.997832,0.998631,0.996858
90812.0,0.996856,0.997643,0.996371,0.997305,0.000000,0.994363,0.997154,0.992996,0.997280,0.996475,...,0.997333,0.997503,0.996215,0.998027,0.996899,0.997695,0.997230,0.997622,0.997846,0.996838

In [ ]:
print(len(similarity_with_user))

31

In [ ]:
input_id=110888
target_uer=similarity_with_user_topic. loc[[input_id]]
sim_user_30_u_topic=find_n_neighbours(target_uer,10)
sim_user_30_u_topic.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10
user_id,,,,,,,,,,
110888,88936.0,118412.0,144658.0,134003.0,144181.0,90812.0,126595.0,124011.0,87239.0,83326.0

In [ ]:
sim_user_30_u = find_n_neighbours(similarity_with_user,10)

#test_only

In [ ]:

# Python code to find Euclidean distance
# using linalg.norm()

import numpy as np

# initializing points in
# numpy arrays
point1 = np.array((1, 2, 3))
point2 = np.array((1, 1, 1))
print(point1)
print(point2)
print(type(point1))

# calculating Euclidean distance
# using linalg.norm()
dist = np.linalg.norm(point1 - point2)

# printing Euclidean distance
print(dist)